<div class="addMoreDetails__container">

<form class="moreDetails" method="GET" action="/add/details">
  
  <section class="moreDetails__section_name">
  <div class="moreDetails_name">
    <input class="displayNone" type="textarea" name="name" value={{ encodedObj.name }}> {{ placeName }}
  </div>
  <div class="moreDetails_address">
   <input class="displayNone" type="textarea" name="address" value={{ encodedObj.address }}> {{ placeAddress }}
   </div>
   <input class="displayNone" type="textarea" name="postcode" value={{ encodedObj.postcode }}>
   <input class="displayNone" type="textarea" name="lat_long" value={{ encodedObj.lat_long}}>
</section>

<br>

<label for="website">Website</label>
<input type="url" name="website" placeholder="http://www...">

    <h3>Opening Hours</h3>
    <div class="hours">
        <div class="time">
          <label for="mondayo">Monday</label>
          <input class="time__input" type="time" name="mondayo">
          <input class="time__input" type="time" name="mondayc">
        </div>

        <div class="time">
          <label for="tueso">Tuesday</label>
          <input class="time__input" type="time" name="tueso">
          <input class="time__input" type="time" name="tuesc">
        </div>

        <div class="time">
          <label for="wedso">Wednesday</label>
          <input class="time__input" type="time" name="wedso">
          <input class="time__input" class="time__input" type="time" name="wedsc">
        </div>

        <div class="time">
          <label for="thurso">Thursday</label>
          <input class="time__input" type="time" name="thurso">
          <input class="time__input" type="time" name="thursc">
        </div>

        <div class="time">
          <label for="frio">Friday</label>
          <input class="time__input" type="time" name="frio">
          <input class="time__input" type="time" name="fric">
        </div>

        <div class="time">
          <label for="sato">Saturday</label>
          <input class="time__input" type="time" name="sato">
          <input class="time__input" type="time" name="satc">
        </div>

        <div class="time">
          <label for="monday">Sunday</label>
          <input class="time__input" type="time" name="suno">
          <input class="time__input" type="time" name="sunc">
        </div>
</div>

	<h3>Category:</h3>
  <section class="category__section">
 		 <input type="radio" name="category" value="Clothes">
   	 <label for="clothes">Clothes</label>
   		 <input type="radio" name="category" value="Bars and Restaurants">
   	 <label for="barsandrestaurants">Bars & Restaurants</label>
   	 	 <input type="radio" name="category" value="Cafés">
   	 <label for="cafés">Cafés</label>
   	  	 <input type="radio" name="category" value="Groceries">
   	 <label for="Groceries">Groceries</label>
   	 	  <input type="radio" name="category" value="Entertainment">
   	 <label for="Entertainment">Entertainment</label>
   	 	  <input type="radio" name="category" value="Other">
   	 <label for="Other">Other</label>
      </section>

  	<h3>Description:</h3>
  	<textarea class="description__text" type="text" name="description"></textarea>

	<h3>Values:</h3>
  <section class="values__section">
    <label class="container" for="Organic">Organic
 		    <span class="checkmark"><input type="checkbox" name="value[]" value="Organic">
         </span>
   	 </label>
      <label class="container" for="Eco">Eco
   		  <span class="checkmark"><input type="checkbox" name="value[]" value="Eco-conscious">
         </span>
   	 </label>
      <label class="container" for="Livingwage">Living Wage
   	 	   <span class="checkmark"><input type="checkbox" name="value[]" value="Living Wage">
           </span>
   	 </label>
      <label class="container" for="Community">Community focussed
         <span class="checkmark"><input type="checkbox" name="value[]" value="Community">
         </span>
   	 </label>

      <label class="container" for="Veg*n">Veg*n
   	  	 <span class="checkmark"><input type="checkbox" name="value[]" value="Veg*n">
          </span>
   	 </label>

      <label class="container" for="Fairtrade">Fairtrade
   	 	  <span class="checkmark"><input type="checkbox" name="value[]" value="Fairtrade">
          </span>
   	 </label>
      <label class="container" for="Non-profit">Non-profit
   	 	  <span class="checkmark"><input type="checkbox" name="value[]" value="Non-profit">
          </span>
   	 </label>
      <label class="container" for="Socialenterprise">Social Enterprise
   	     <span class="checkmark"><input type="checkbox" name="value[]" value="Social Enterprise">
          </span>
   	 </label>
      <label class="container" for="Bulkbins">Bulk bins available
   	     <span class="checkmark"><input type="checkbox" name="value[]" value="Bulk Bins">
          </span>
   	 </label>
      <label class="container" for="Tacklingwaste">Tackling waste
   	     <span class="checkmark"><input type="checkbox" name="value[]" value="Tackling Waste">
          </span>
   	 </label>
</section>

  	<h3>Comment:</h3>
  	<textarea class="comment__text" type="text" name="comment"></textarea>
    
    <section class="submit">
  	<input class="submit__btn" type="submit" name="Submit">
    </section>
 </form>

 </div>
