<form class="moreDetails" method="GET" action="/add/details">

   <input class="displayNone" type="textarea" name="name" value={{ encodedObj.name }}> {{ placeName }}
   <input class="displayNone" type="textarea" name="address" value={{ encodedObj.address }}>
   <input class="displayNone" type="textarea" name="postcode" value={{ encodedObj.postcode }}>
   <input class="displayNone" type="textarea" name="lat_long" value={{ encodedObj.lat_long}}>

<label for="website">Website</label>
<input type="url" name="website" placeholder="http://www...">

<h3>Opening Hours</h3>
<label for="mondayo">Monday</label>
<input type="time" name="mondayo">
<input type="time" name="mondayc">

<label for="tueso">Tuesday</label>
<input type="time" name="tueso">
<input type="time" name="tuesc">

<label for="wedso">Wednesday</label>
<input type="time" name="wedso">
<input type="time" name="wedsc">

<label for="thurso">Thursday</label>
<input type="time" name="thurso">
<input type="time" name="thursc">

<label for="frio">Friday</label>
<input type="time" name="frio">
<input type="time" name="fric">

<label for="sato">Saturday</label>
<input type="time" name="sato">
<input type="time" name="satc">

<label for="monday">Sunday</label>
<input type="time" name="suno">
<input type="time" name="sunc">



	<h3>Category:</h3><br>
 		 <input type="radio" name="category" value="clothes">
   	 <label for="clothes">Clothes</label>
   		 <input type="radio" name="category" value="barsandrestaurants">
   	 <label for="barsandrestaurants">Bars & Restaurants</label>
   	 	 <input type="radio" name="category" value="cafés">
   	 <label for="cafés">Cafés</label>
   	  	 <input type="radio" name="category" value="Groceries">
   	 <label for="Groceries">Groceries</label>
   	 	  <input type="radio" name="category" value="Entertainment">
   	 <label for="Entertainment">Entertainment</label>
   	 	  <input type="radio" name="category" value="Other">
   	 <label for="Other">Other</label>

  	<h3>Description:</h3><br>
  	<input type="text" name="description">

	<h3>Values:</h3><br>
 		 <input type="checkbox" name="Organic" value="Organic">
   	 <label for="Organic">Organic</label>
   		 <input type="checkbox" name="Eco" value="Eco">
   	 <label for="Eco">Eco</label>
   	 	 <input type="checkbox" name="Livingwage" value="Livingwage">
   	 <label for="Livingwage">Living Wage</label>
   	  	 <input type="checkbox" name="Veg*n" value="Veg*n">
   	 <label for="Veg*n">Veg*n</label>
   	 	  <input type="checkbox" name="Fairtrade" value="Fairtrade">
   	 <label for="Fairtrade">Fairtrade</label>
   	 	  <input type="checkbox" name="Non-profit" value="Non-profit">
   	 <label for="Non-profit">Non-profit</label>
   	     <input type="checkbox" name="Socialenterprise" value="Socialenterprise">
   	 <label for="Socialenterprise">Social Enterprise</label>
   	     <input type="checkbox" name="Bulkbins" value="Bulkbins">
   	 <label for="Bulkbins">Bulk bins available</label>
   	     <input type="checkbox" name="Tacklingwaste" value="Tacklingwaste">
   	 <label for="Tacklingwaste">Tackling waste</label>

  	<h3>Comment:</h3><br>
  	<input type="text" name="comment">

  	<input type="submit" name="Submit">
 </form>

 <script type='text/javascript' src='/index.js'></script>