<main class = "listMain">
  <header class = "place_header">
    <h2>RESULTS</h2>
</header>

<div class="listResults" id="listResults">
  {{#if resultsArr}}
    {{#each resultsArr}}
        <a href = '/place/{{ name }}'>
        <div class="result">
            <p>{{ name }}</p>
            <p>{{ distance lat_long ../currentLL }}</p>
      </div></a>
      {{/each}}
    {{else}}
    <div class="messageBox">
    <h2>Sorry, there's no businesses in this category yet!</h2>
  </div>
  {{/if}}
</div>


<div id="mapid" class="map"></div>
<script>


var resultsArr = {{{json resultsArr}}};
var currentLL = JSON.parse('{{{json currentLL}}}');

</script>

</main>
