<main>
<div class="listResults" id="listResults">
  {{#if resultsArr}}
    {{#each resultsArr}}
      {{#if this.name}}
        <section class="results">
          <p><a href = '/place/{{ name }}'>{{ name }}</a></p>
          {{#if lat_long }}
          <p>{{ distance lat_long ../currentLL }}</p>
          {{/if}}
          <p>{{ hours }}</p>
      </section>
      {{/if}}
      {{/each}}
    {{else}}
    <div class="messageBox">
    <h2>Sorry, there's no businesses in this category yet!</h2>
  </div>
  {{/if}}
</div>


<div id="mapid" class="map"></div>
<script>
var resultsArr = JSON.parse('{{{json resultsArr}}}');
var currentLL = JSON.parse('{{{json currentLL}}}');
</script>

</main>
