<main>
  <header class = "place_header">
    <h2>Results</h2>
</header>

<div class="listResults" id="listResults">
  {{#if resultsArr}}
    {{#each resultsArr }}
        <section class="results">
          <img class="resultImg" src={{ resImg }}></img>
          <p><a href = '/place/{{ name }}'>{{ name }}</a></p>
          {{#if lat_long }}
          <p>{{ distance lat_long ../currentLL }}</p>
          {{/if}}
          <p>{{ hours }}</p>
          <i class="fa fa-arrow-circle-up" aria-hidden="true">{{ resVotes }}</i>
      </section>
      {{/each}}
    {{else}}
    <div class="messageBox">
    <h2>Sorry, there's no businesses in this category yet!</h2>
  </div>
  {{/if}}
</div>


<div id="mapid" class="map"></div>
<script>
// var resultsArr = JSON.parse('{{{json resultsArr}}}');
</script>

</main>
