
<!-- <main> -->
	<header class = "place_header">
			<h2>{{ placeResults.name }}</h2>
	</header>
<div class = place_details>
	<p><a href="//{{placeResults.website}}" target = "_blank">{{ placeResults.website }}</a></p>
	<p>{{ placeResults.description }}</p>
	<div class="">
		<img src="/assets/droppin-grey.png" class = "icon">{{ placeResults.address }}
	</div>
<div class="">

</div>
	<img src="/assets/clock.png" class = "icon">Hours
	<div class="times"> {{ resTimes }}</div>
	<p>Monday {{hoursObj.monday}}</p>
	<p>Tuesday {{hoursObj.tuesday}}</p>
	<p>Wednesday{{hoursObj.wednesday}}</p>
	<p>Thursday{{hoursObj.thursday}}</p>
	<p>Friday{{hoursObj.friday}}</p>
	<p>Saturday{{hoursObj.saturday}}</p>
	<p>Sunday{{hoursObj.sunday}}</p>
<!-- </main> -->

<section class="values">
	<header>
			<h3>Values</h3>
	</header>

	<p></p>
	<ul>
	{{#each values }}
		<li> {{ this }} </li>
	{{/each }}

</section>
</div>
