<main>
	<h2>{{ placeResults.name }}</h2>
	<p><a href="//{{placeResults.website}}" target = "_blank">{{ placeResults.website }}</a></p>
	<p>{{ placeResults.description }}</p>
	<img src="/assets/droppin-grey.png" class = "icon">{{ placeResults.address }}
	<img src="/assets/clock.png" class = "icon">Hours
	<div class="times"> {{ resTimes }}</div>
</main>

<section class="values">
	<h3>Values</h3>
	<p></p>
	<ul>
	{{#each values }}
		<li> {{ this }} </li>
	{{/each }}

</section>
